<article class="container-box">
  <div class="card-small">
    <div class="container-image">
      <img alt="chanel small gabrielle"  src="../assets/images/image-product-desktop.jpg">
    </div>
    <div class="container-description-small" *ngFor="let items of smallCard">
      <span>{{items.category}}</span>
      <h3>{{items.title}}</h3>
      <p>{{items.description}}</p>
      <h4>${{items.price}}</h4>
      <button class="button-add-card">Add to Cart</button>
    </div>
  </div>
</article>

<router-outlet></router-outlet>
