/* You can add global styles to this file, and also import other style files */
body{
  display: flex;
  justify-content: center;
}
.container-box{
  display: flex;
  justify-content: center;
  margin: 100px 0;
}

.card-small{
  display: flex;
  justify-content: center;
  width: 790px;
  height: 500px;
  border-radius: 16px;
  background-color: hsl(0, 0%, 100%);
  background:  hsl(0, 0%, 100%);
}
.container-image{
  width: 100%;
  max-height: 500px;
  height: 100%;
  min-width: 400px;
  img{
    height: 100%;
    width: 100%;
    border-radius: 16px 0px 0px 16px;
  }
}
.container-description-small{
  width: 100%;
  min-width: 300px;
  padding: 2rem;
  span{
    font-family: 'Montserrat', sans-serif;
    color: hsl(228, 12%, 48%);
  }
  h3{
    font-family: 'Fraunces', serif;
    font-weight: 700;
    color: hsl(212, 21%, 14%);
    font-size: 2.5rem;
  }
  p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: hsl(228, 12%, 48%);
    font-size: 14px;
    line-height: 25px;
    // max-width: 219px;
  }
  h4{
    font-family: 'Fraunces', serif;
    font-weight: 700;
    color: hsl(158, 36%, 37%);
    font-size: 2.5rem;
    margin: 10px 0;
  }
  .button-add-card{
    width: 100%;
    max-width: 100%;
    padding: 1rem;
    border-color: hsl(158, 36%, 37%);
    background: hsl(158, 36%, 37%);
    color: hsl(0, 0%, 100%);
    font-family: 'Montserrat', sans-serif;
    border-radius: 10px;
  }
}

